body{
    margin:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 50vw;
    gap: 20px;
    animation: apparition 1.5s ease-in-out
}

#quiz
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

h1{
    font-family: Bluu_Next;
    text-align: center;
    font-size: 30px;
}

.questionTitle{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#message{
    font-size: 24px;
    font-weight: bold;
}

.pagination
{
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

ol{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
    gap: 24px;
    padding: 0;
}

.answer{
    list-style-type: none;
    border: 2px solid white;
    width: 100%;
    padding: 20px;
    font-size: medium;
    text-align: center;
    transition:  0.5s ease-out
}

.answer:hover{
    scale: 105%;
    transition:  0.5s ease-out;
    background-color: gainsboro;
    color: #9747FF;
    cursor: pointer;
}

.flag{
    width: 200px;
}

.result{
    position: relative;
    max-width: 100vw;
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

#members{
    font-size: 24px;
    font-weight: bold;
}

#character {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

#character > span {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#choixpeau{
    position: absolute;
    opacity: 0.3;
    z-index: -10;
    width: 100%;
}

svg {
    width: 200px;
}


/* Tablette */
@media (min-width : 800px) 
{
    h1{
        font-size: 40px;
    }

    .questionTitle{
        font-size: 24px;
    }

    .answer{
        font-size: x-large;
    }

    #character {
        flex-direction: row;
        gap: 50px; 
    }
    svg {
        width: 400px;
    }
}

@media (min-width : 1200px) 
{
   h1{
    font-size: 55px;
   }
   .questionTitle{
    font-size: 32px;
}
.pagination
{
    font-size: xx-large;
}
   .answer{
    font-size: x-large;
}
   #message{
    font-size: 40px;
   }
   .flag{
    width: 300px;
}
}
