section{
    display:flex;
    height:760px;
    justify-content: space-between;
    align-items: center;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.gryffondor{
    background-image: url(../img/Gryffondor_Background.png);
    background-repeat: no repeat;
}

#serpentard{
    background-image: url(../img/Serpentard_Background.png);
}

#serdaigle{
    background-image: url(../img/Serdaigle_Background.png);
}

#poufsouffle{
    background-image: url(../img/Poufsouffle_Background.png);
}

h2{
    font-family: Bluu_Next;
    font-size:80px;
    font-weight:600;
}

h3{
    font-size:52px;
    font-weight:600;
}

h3 + svg{
    margin:25px;
}

.subtitle{
    font-size:20px;
    font-weight:500;
}

section > article:nth-child(1){
    max-width: 644px;
    gap:20px;
}

section > article:nth-child(2){
    max-width: 413px;
}

ul{
    margin-top:75px;
}

p{
    font-size:24px;
    font-weight:500;
}

li{
    display:flex;
    flex-direction: column;
    font-family: Bluu Next;
    font-size:24px;
    font-weight:600;
    list-style: none;
}

li > svg{
    padding-top:10px;
}

ul > div{
    display:flex;
}
