

@font-face {
    font-family : "Bluu_Next";
    src:
        local("bluu_next"),
        url("../fonts/bluu_next/BluuNext-Titling.otf") format("opentype");
}

@font-face {
    font-family : "Sofia_Pro";
    src:
        local("sofia_pro"),
        url("../fonts/sofia_pro/SofiaProMedium.ttf") format("truetype"),
        url("../fonts/sofia_pro/SofiaProBold.ttf") format("truetype");
}


*{
    margin:0;
    padding:0;
}

html {
    background: url(../img/Purple_Background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

body{
    color: #FFFF;
    font-family: Sofia_Pro;  
}

#wrap{
    margin-left : 64px;
    margin-right: 64px;
}


h2,h3,h4{
    font-family: Bluu_Next;
}

strong{
    color: #9747FF;
}

@keyframes apparition {
    0% {
      opacity: 0;
    }
    100% {
     opacity: 100%;
  }
}


@media (max-width : 1300px) 
{
    body {
        overflow: visible;
        
    }
}

