.container
{
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    
    
}
#quiz
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}


h1{
    font-family: Bluu_Next;
    text-align: center;
    font-size: 60px;
}

p
{
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

ol{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 24px;
    padding: 0;
}

li{
    list-style-type: none;
    border: 2px solid white;
    width: 100%;
    padding: 20px;
    font-size: x-large;
    text-align: center;
    transition:  0.5s ease-out
}

li:hover{
    scale: 105%;
    transition:  0.5s ease-out;
    background-color: gainsboro;
    color: #9747FF;
    cursor: pointer;
}

#result{
    display: none;
    text-align: center;
}
