.container
{
    padding-top: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    
    
}

#quiz
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}


h1{
    font-family: Bluu_Next;
    text-align: center;
    font-size: 60px;

}

#message{
    font-size: 32px;
    font-weight: bold;
}

.pagination
{
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

ol{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    gap: 24px;
    padding: 0;
}

.answer{
    list-style-type: none;
    border: 2px solid white;
    width: 100%;
    padding: 20px;
    font-size: x-large;
    text-align: center;
    transition:  0.5s ease-out
}

.answer:hover{
    scale: 105%;
    transition:  0.5s ease-out;
    background-color: gainsboro;
    color: #9747FF;
    cursor: pointer;
}

img{
    width: 15vw;
}
.result{
    max-width: 70vw;
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}


#character {
    display: flex;
    gap: 50px;
    max-width: 40vw;
    margin-bottom: 20px;
}

#character > span {
    display: flex;
    flex-direction: column;
    gap: 10px;
}