body{
    margin:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 50vw;
    gap: 20px;
    animation: apparition 1.5s ease-in-out
}

h1
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

h2{
    font-family: Bluu_Next;
    text-align: center;
    font-size: 40px;
}

.questionTitle{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

h3{
    font-family: Sofia_Pro;
    font-size: 24px;
    font-weight: semi-bold;
}

.pagination
{
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

ol{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
    gap: 24px;
    padding: 0;
}

.answer{
    list-style-type: none;
    border: 2px solid white;
    width: 100%;
    padding: 20px;
    font-size: medium;
    text-align: center;
    transition:  0.5s ease-out
}

.answer:hover{
    scale: 105%;
    transition:  0.5s ease-out;
    background-color: gainsboro;
    color: #9747FF;
    cursor: pointer;
}

.flag{
    width: 200px;
}

#result{
    position: relative;
    max-width: 100vw;
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.houseLink {
    display:flex;
    padding:10px 50px;
    border: 3px solid #FFF;
    width:fit-content;
    margin: 30px;
    transition:  0.5s ease-out;
    animation: apparition 1s ease-in-out forwards;
    animation-delay: 0.5s;
    opacity: 0;
}


.houseLink  a{
    color : #fff;
    font-size: 12px;
    text-decoration: none;
    transition:  0.5s ease-out
}

.houseLink:hover {
    background-color: white;
    transition:  0.5s ease-out
  }

  .houseLink:hover a {
    color: #9747FF;
    transition:  0.5s ease-out
  }

h4{
    font-size: 24px;
    font-family: Sofia_Pro;
    font-weight: bold;
}

#character {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

#character > span {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#choixpeau{
    position: absolute;
    opacity: 0.3;
    z-index: -10;
    width: 100%;
}

svg {
    width: 200px;
}


/* Tablette */
@media (min-width : 800px) 
{
    h2{
        font-size: 55px;
    }
    h3{
        font-size: 35px;
    }

    .questionTitle{
        font-size: 24px;
    }

    .answer{
        font-size: x-large;
    }

    #character {
        flex-direction: row;
        gap: 50px; 
    }
    svg {
        width: 400px;
    }
}


@media (min-width : 1200px) 
{
    h3{
        font-size: 48px;
    }

   h2{
    font-size: 80px;
   }
   .houseLink a{
    font-size: 22px;
   }
   .questionTitle{
    font-size: 32px;
}
.pagination
{
    font-size: xx-large;
}
   .answer{
    font-size: x-large;
}
   .flag{
    width: 300px;
}
}
