section{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    z-index:1;
}

#gryffondor{
    background-image: url(../img/Gryffondor_Background.jpg);
    background-size : cover;
    background-repeat: no-repeat;
    height:760px;
}

#serpentard{
    background-image: url(../img/Serpentard_Background.jpg);
    background-size : cover;
    background-repeat: no-repeat;
    height:760px;
}

#serdaigle{
    background-image: url(../img/Serdaigle_Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:760px;
}

#poufsouffle{
    background-image: url(../img/Poufsouffle_Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:760px;
}

h2{
    font-family: Bluu_Next;
    font-size:80px;
    font-weight:600;
}

h3{
    font-family: Bluu_Next;
    font-size:52px;
    font-weight:600;
}

h3 + svg{
    margin:25px;
}

.subtitle{
    font-size:20px;
    font-weight:500;
}

section > article:nth-child(2){
    max-width: 644px;
    gap:20px;
}

section > article:nth-child(3){
    max-width: 413px;
}

ul{
    margin-top:75px;
}

p{
    font-size:24px;
    font-weight:500;
}

li{
    display:flex;
    flex-direction: column;
    font-family: Bluu Next;
    font-size:24px;
    font-weight:600;
    list-style: none;
    padding:20px;
}

li > svg{
    padding-top:10px;
}

ul > div{
    display:flex;
}

section > img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

@media (max-width : 1024px) {
    section{
        flex-direction: column;
    }

    section > img{
        display:none;
    }

    article{
        margin:50px;
    }

    #gryffondor{
        height:1540px;
    }
    
    #serpentard{
        height:1540px;
    }
    
    #serdaigle{
        height:1540px;
    }
    
    #poufsouffle{
        height:1540px;
    }
}

@media (max-width: 600px){
    
    h2{
        font-size:60px;
    }

    h3{
        font-size:32px;
    }

    p{
        font-size:16px;
    }

    li{
        font-size:16px;
    }

    li > svg {
        width:91px;
        height:19.5px;
    }

    #gryffondor{
        height:1250px;
    }
    
    #serpentard{
        height:1250px;
    }
    
    #serdaigle{
        height:1250px;
    }
    
    #poufsouffle{
        height:1250px;
    }
}

@media (max-width:375px) {

    h2{
        font-size:50px; 
    }

    h3 + svg{
        width:150px;
        margin:15px;
    }

    ul{
        margin-top:30px;
    }
}
