body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    margin: 50px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

section{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#rules{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#start_path{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

a{
    color: white;
    text-decoration: none;
}

h2{
    color: #FFF;
    font-family: Bluu_Next;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    animation: apparition 1.5s ease-in-out
}

p, li{
    font-size: 12px;
    animation: apparition 1.5s ease-in-out forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

#start_path svg {
    width: 100px;
    transition: transform 0.3s ease-in-out;
  }
  
#start_path a:hover  svg {
    transform: translateX(20px);
}


svg {
    fill: none;
    stroke: white;
    stroke-width: 3;
    stroke-dasharray: 864;
    stroke-dashoffset: 864;
    animation: dash 2s forwards;
    animation-delay: 0.5s;
  }

  .line{
    display: none;
}
  
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }



@media (min-width : 600px)
{
    h2{
        font-size: 40px;  
    }

    p,li {
        font-size: 16px;
    }

    #start_path{
        align-items: end;
    } 
    
    #start_path svg {
        width: 140px;
      }  
}

@media (min-width : 1200px)
{
    body{
        padding: 100px;
    }

    main{
        gap: 70px;
    }
    h2 {
        font-size: 75px;  
    }

    p,li {
        font-size: 20px;
    }

    #start_path{
        align-items: end;
    }

    .line{
        display: block;
    }
    #start_path svg {
        width: 100%;
      }
}