@font-face {
    font-family : "Harry_Potter";
    src:
        local("harry_p"),
        url("../fonts/harry_p/HarryPotter.TTF") format("truetype");
}


body{
    text-align: center;
    overflow: hidden;
}

h1{
  font-family: Harry_Potter;
  font-size: 128px;
  font-weight: 400;
  animation: apparition 2s ease-in-out
}

.button{
    display:flex;
    padding:10px 50px;
    border: 3px solid #FFF;
    width:fit-content;
    margin: 50px;
    transition:  0.5s ease-out;
    animation: apparition 1s ease-in-out forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

p{
    display:block;
    max-width:60vw;
    width: 100%;
    font-size: 24px;
    margin-top: 20px;
    animation: apparition 1s ease-in-out forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

.button a{
    color : #fff;
    font-size: 36px;
    text-decoration: none;
    transition:  0.5s ease-out
}


.button:hover {
    background-color: white;
    transition:  0.5s ease-out
  }

  .button:hover a {
    color: #9747FF;
    transition:  0.5s ease-out
  }

main{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
}

span {
    display: inline-block;
  }
  
.oscillation_first{
    animation: oscillation_first 1s ease-in-out infinite
}

.oscillation_second{
    animation: oscillation_second 1s ease-in-out infinite
}

@keyframes oscillation_first {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes oscillation_second {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(0);
    }
  }
  

  
/* Tablette */
@media (max-width : 800px) 
{
    h1{
        font-size: 80px;
    }
    p{
        font-size: 16px;
    }
}

/* Portable */
@media (max-width : 600px) 
{
    h1{
        font-size: 50px;
        margin-bottom: 10px;
    }
    p{
      font-size: 14px;
    }
    .button a{
      font-size: 20px;
    }
}

@media (max-width : 400px) 
{
    h1{
        font-size: 40px;
        margin-bottom: 10px;
    }

    p{
      font-size: 12px;
    }
}
  
  

