/* soyez pas archi regardant, je teste des chosesssss*/
.credits{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    gap: 70px;
    margin: 150px;
}


h1{
    color: #FFF;
    font-family: Bluu_Next;
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

h2{
    font-family: Sofia_Pro;
    font-size: 48px;
    font-weight: 700;
}

p,ul{
    list-style-type:none;
    font-size: 36px
}